body {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: rgba(174, 225, 241, 0.8);
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  gap: 300px;
  align-items: center;
}

header img {
  height: auto;
  width: 120px;
}

header ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
header ul li a {
  text-decoration: none;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.nav-icons i {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  color: #000;
  padding: 60px 20px;
  text-align: center;
  margin: auto;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -12px;
}

.hero-content p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-top: -30px;
}

.hero-content .cta-buttons {
  margin-top: 340px;
}

.hero-content .cta-buttons button {
  padding: 10px 80px;
  font-size: 14px;
  font-weight: 550;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-content .order-now {
  background-color: #1b1b1b;
  color: #fff;
  margin-right: 20px;
}

.hero-content .demo-drive {
  background-color: #ffffff;
  color: #5e5b5b;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.hero-image img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
